<div class="row footer">
  <div class="container-fluid">
  <div class="row">
  {% capture contact-footer %}{% include contact-footer.md %}{% endcapture %}
  {{ contact-footer | markdownify }}
  </div>
  <div class="row">
  <div class="offset-1 col-12 small">
    <div class="copyright typeset">
      <small>&copy; {{ site.title }}</small>
      |
      <small>Penrose hexagon CC-BY-SA-3.0 <a href="https://en.wikipedia.org/wiki/User:Trilink">Trilink</a></small>
  </div>
  </div>
</div>
</div>
</div>